* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #F4F4F4;
}

.caja {
	width: 500px;
	height: 500px;
	background: #fff;
	padding: 40px;
	margin:20px auto;

	overflow: auto;
}

.caja h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	line-height: 50px;
	color: #52489c;
	font-weight: normal;
}

.caja hr {
	opacity: .2;
	color: #291528;
	margin: 30px 50px;
}

.caja p {
	font-family: 'Roboto', sans-serif;
	line-height: 40px;
	margin-bottom: 14px;
}